<div class="edit-bundle-container">
  <div class="row">
    <div class="col-12">
      <h1>Actualizar Combo</h1>
    </div>
  </div>
  <div class="side-by-side">
    <div class="col-4">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Información general</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <form [formGroup]="bundleForm" (ngSubmit)="updateBundle()">
            <mat-form-field
              appearance="outline"
              class="full-width"
              style="display: none"
            >
              <mat-label>Nombre</mat-label>
              <input matInput placeholder="id" formControlName="id" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Nombre</mat-label>
              <input matInput placeholder="Nombre" formControlName="name" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Descripción</mat-label>
              <input
                matInput
                placeholder="Descripción"
                formControlName="description"
              />
            </mat-form-field>
            <mat-form-field
              appearance="outline"
              class="full-width"
              style="display: none"
            >
              <mat-label>Precio al por mayor</mat-label>
              <input
                matInput
                placeholder="Precio al por mayor"
                formControlName="pricePM"
              />
            </mat-form-field>
            <mat-form-field
              appearance="outline"
              class="full-width"
              style="display: none"
            >
              <mat-label>Precio al detalle</mat-label>
              <input
                matInput
                placeholder="Precio al detalle"
                formControlName="priceCF"
              />
            </mat-form-field>
          </form>
        </mat-card-content>
        <div class="price-container">
          <p *ngIf="totalPM">Precio al por mayor: {{ totalPM | currency }}</p>
          <p *ngIf="totalCF">Precio al detalle: {{ totalCF | currency }}</p>
        </div> 
      </mat-card>
    </div>

    <div class="col-6">
      <mat-card class="animated-resize animated-fadeIn add-product-card">
        <mat-card-header>
          <h1>Agregar Productos</h1>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field appearance="outline" class="mid-width">
            <input
              type="text"
              matInput
              placeholder="Buscar producto por el nombre"
              [(ngModel)]="search"
              (keyup.enter)="searchProduct()"
              (ngModelChange)="checkEmpty()"
            />
            <mat-icon matPrefix>search</mat-icon>
            <button *ngIf="search.length > 0" matSuffix mat-icon-button aria-label="Clear" (click)="cleanSearch()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <div *ngIf="productToAdd">
            <div class="product-table-container">
              <table
                mat-table
                [dataSource]="productToAdd"
                class="stripped-table animated-fadeIn "
              >
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Nombre</th>
                  <td mat-cell *matCellDef="let product">{{ product.name }}</td>
                </ng-container>
                <ng-container matColumnDef="priceCF">
                  <th mat-header-cell *matHeaderCellDef>Precio CF</th>
                  <td mat-cell *matCellDef="let product">
                    {{ product.priceCF }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="pricePM">
                  <th mat-header-cell *matHeaderCellDef>Precio PM</th>
                  <td mat-cell *matCellDef="let product">
                    {{ product.pricePM }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="options">
                  <th mat-header-cell *matHeaderCellDef>Opciones</th>
                  <td mat-cell *matCellDef="let product">
                    <mat-icon
                      matTooltip="Agregar {{ product.name }}"
                      class="option-button green"
                      aria-label="Agregar"
                      (click)="addProduct(product)"
                      >add</mat-icon
                    >
                  </td>
                </ng-container>

                <tr
                  mat-header-row
                  *matHeaderRowDef="['name', 'priceCF', 'pricePM', 'options'] "
                ></tr>
                <tr
                  mat-row
                  *matRowDef="
                    let row;
                    columns: ['name', 'priceCF', 'pricePM', 'options']
                  "
                ></tr>
              </table>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <mat-card>
        <mat-card-content>
          <table
            mat-table
            [dataSource]="dataSource"
            class="mat-elevation-z0 stripped-table"
          >
            <ng-container matColumnDef="productId">
              <th mat-header-cell *matHeaderCellDef>Id</th>
              <td mat-cell *matCellDef="let product">
                {{ product.product.productId }}
              </td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let product">
                {{ product.product.name }}
              </td>
            </ng-container>
            <ng-container matColumnDef="priceCF">
              <th mat-header-cell *matHeaderCellDef>Precio CF</th>
              <td mat-cell *matCellDef="let product">
                {{ product.product.priceCF | currency }}
              </td>
            </ng-container>
            <ng-container matColumnDef="pricePM">
              <th mat-header-cell *matHeaderCellDef>Precio PM</th>
              <td mat-cell *matCellDef="let product">
                {{ product.product.pricePM | currency }}
              </td>
            </ng-container>
            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef>Cantidad</th>
              <td mat-cell *matCellDef="let product">{{ product.quantity }}</td>
            </ng-container>
            <ng-container matColumnDef="options">
              <th mat-header-cell *matHeaderCellDef>Opciones</th>
              <td mat-cell *matCellDef="let product">
                <div class="option-buttons-container">
                  <a
                    matTooltip="Eliminar {{ product.product.name }}"
                    class="option-button red-white"
                    aria-label="Eliminar"
                    (click)="deleteProduct(product.id)"
                  >
                    <mat-icon>remove_shopping_cart</mat-icon>
                  </a>
                </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns"></tr>
          </table>
        </mat-card-content>
        <br/>
        <mat-card-actions align="end">
          <!-- <button mat-button color="warn" (click)="deleteAllProducts()">
            Eliminar todos
          </button> -->
          <button mat-button color="warn" (click)="back()">
            Cancelar
          </button>
          
          <button mat-button color="primary" (click)="updateBundle()">
            Actualizar Combo
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

