<h1>Lista de productos</h1>

<input type="text" class="ninja-input" matInput placeholder="Buscar producto">
<a mat-icon-button color="primary" matTooltip="Agregar un nuevo producto" routerLink="/products/add">
    <mat-icon>add</mat-icon>
</a>

<table mat-table [dataSource]="products" class="mat-elevation-z2 ">
    <ng-container matColumnDef="productId">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let product"> {{product.productId}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> name </th>
        <td mat-cell *matCellDef="let product"> {{product.name}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> description </th>
        <td mat-cell *matCellDef="let product"> {{product.description}} </td>
    </ng-container>

    <ng-container matColumnDef="price1">
        <th mat-header-cell *matHeaderCellDef> Precio CF </th>
        <td mat-cell *matCellDef="let product"> {{product.price1 | currency}} </td>
    </ng-container>

    <ng-container matColumnDef="price2">
        <th mat-header-cell *matHeaderCellDef> Precio PM </th>
        <td mat-cell *matCellDef="let product"> {{product.price2 | currency}} </td>
    </ng-container>

    <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef> Opciones </th>
        <td mat-cell *matCellDef="let product">
            <div class="option-buttons-container">
                <button aria-label="Example icon button with a menu icon"
                    matTooltip="Visualizar detalles de {{product.name}}" class="option-button option-blue">
                    <mat-icon>visibility</mat-icon>
                </button>
                <button aria-label="Example icon button with a menu icon" matTooltip="Modificar {{product.name}}"
                    class="option-button option-gray">
                    <mat-icon>edit</mat-icon>
                </button>
                <button aria-label="Example icon button with a menu icon" matTooltip="Eliminar {{product.name}}"
                    class="option-button option-red">
                    <mat-icon>remove_shopping_cart</mat-icon>
                </button>
                <button aria-label="Example icon button with a menu icon"
                    matTooltip="Agregar al carrito {{product.name}}" (click)="addToCart(product)"
                    class="option-button option-green">
                    <mat-icon>add_shopping_cart</mat-icon>
                </button>
            </div>
        </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
</table>