
.cart-content{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 100%;
    overflow: auto;
}

.cart-table-section{
    display: flex;
    flex-direction: column;
    height: 22.5rem;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    /* overflow: auto; */
}

.cart-info-section{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-around;
}

.cart-form-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.form-body{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.mat-tool-bar{
    background-color: #1976d2;
    color: white;
}

@media (max-width: 480px) {
    /* .form-actions {
        flex-direction: column;
        width: 100%;
    }
    
    .form-actions button {
        width: 100%;
    } */
}