<div class="view-bundle-container">
    <div class="row">
        <h1> Información de <span class="highlight-title">{{Bundle.name}} </span></h1>
    </div>

    <div class="row">
        <div class="col-4">
            <mat-card class="mat-elevation-z2 ninja-card">
                <mat-list>
                    <mat-list-item>
                        <strong>
                            Nombre:
                        </strong>
                        {{Bundle.name}}
                    </mat-list-item>
                    <mat-list-item>
                        <strong>
                            Descripción:
                        </strong> {{Bundle.description}}
                    </mat-list-item>
                    <mat-list-item>
                        <strong>
                            Total al pormayor:
                        </strong> {{Bundle.pricePM | currency}}
                    </mat-list-item>    
                    <mat-list-item>
                        <strong>
                            Total cliente Final:
                        </strong> {{Bundle.priceCF | currency}}
                    </mat-list-item>
                </mat-list>



            </mat-card>
            <mat-card class="mat-elevation-z2 ninja-card">
                <h2>Imagenes</h2>
                <div class="img-container">
                    <img *ngFor="let image of images" 
                         [src]="image" 
                         [alt]="image" 
                         class="img-fluid"
                    />
                    
                </div>
                <div class="button-container">
                    <!-- <button mat-button color="primary" matTooltip="Imprimir">Imprimir</button>
                    <button mat-button color="primary" matTooltip="Descargar">Descargar</button> -->
                </div>
            </mat-card>
        </div>
        <div class="col-8">
            <mat-card class="mat-elevation-z2 ninja-card">
                <h2>Lista de productos</h2>
                <div class="product-container">
                    <div class="table-responsive">
                    <table mat-table [dataSource]="products" class="mat-elevation-z3 stripped-table">
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef>Nombre</th>
                            <td mat-cell *matCellDef="let product">{{product.product.name}}</td>
                        </ng-container>
                        <ng-container matColumnDef="priceCF">
                            <th mat-header-cell *matHeaderCellDef>Precio CF</th>
                            <td mat-cell *matCellDef="let product">{{product.product.priceCF | currency}}</td>
                        </ng-container>
                        <ng-container matColumnDef="pricePM">
                            <th mat-header-cell *matHeaderCellDef>Precio PM</th>
                            <td mat-cell *matCellDef="let product">{{product.product.pricePM | currency}}</td>
                        </ng-container>
                        <ng-container matColumnDef="createdAt">
                            <th mat-header-cell *matHeaderCellDef>Fecha de creación</th>
                            <td mat-cell *matCellDef="let product">{{product.createdAt | date:'dd/MM/yyyy'}}</td>
                        </ng-container>
                        <ng-container matColumnDef="quantity">
                            <th mat-header-cell *matHeaderCellDef>Cantidad</th>
                            <td mat-cell *matCellDef="let product">{{product.quantity | number}}</td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: columns"></tr>
                    </table>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>