<header class="header">
  <nav class="nav-menu">
   <NavLeft [user]="user"></NavLeft>
    <!-- Carrito -->
    <div class="nav-right">
      <a matMiniFab aria-label="Carrito de compras" [mat-menu-trigger-for]="cartMenu" class="nav-link">
        <mat-icon matBadge="{{getTotalProducts()}}" matBadgePosition="before" matBadgeSize="small"
          matBadgeHideZero="true">trolley</mat-icon>
        <mat-menu #cartMenu="matMenu">
          <button mat-menu-item (click)="openCart()">Ver</button>
          <button mat-menu-item (click)="clearCart()">Limpiar</button>
          <!-- <button mat-menu-item>Crear Combo</button> -->
        </mat-menu>
      </a>
      <!-- Menu -->
      <a [mat-menu-trigger-for]="profileMenu" class="nav-link">
        <mat-icon>person</mat-icon>
        <mat-menu #profileMenu="matMenu">
          <div *ngIf="user" class="profile-menu-name" center>
            <p>{{user.name}}</p>
          </div>
          <mat-divider></mat-divider>
          <button mat-menu-item routerLink="users/profile">Perfil</button>
          <!-- <button mat-menu-item routerLink="users/edit/{{user?.id}}">Configuración</button> -->
          <button mat-menu-item (click)="logout()">Salir</button>
        </mat-menu>
      </a>
    </div>

  </nav>
</header>