/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ninja-input {
    width: 25%;
    margin: 1rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0.5rem;
  }

.option-buttons-container {
    display: flex;
    gap: 10px;
}

.option-button {    
    padding: 5px;
    color: black ;
    border: none;
    background-color: transparent;
    font-size: 1rem;
}

.option-button:hover {
    cursor: pointer;
    background-color: rgb(202, 199, 199);
}

.option-green{
       color: rgb(90, 128, 90);
}

.option-red{
    color: rgb(218, 10, 10);
}

.option-blue{
    color: rgb(10, 10, 218);
}

.option-gray   {
    color: rgb(56, 54, 54);
}
    
    